.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px 96px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
}

.header__links-list-item {

}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-size: 18px;
    line-height: 24px;
}

.address {
    font-style: normal;
}

.contact {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 757px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    margin-right: 60px;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 135px;
}

.cover__description-text {
    color: white;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

.lots {
    padding: 180px 24px;
}

.lots__heading {
    margin-left: 40px;
    margin-bottom: 27px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex: 1 0 334px;
    min-height: 563px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 4px;
}

.card__text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 0 24px 180px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 0 24px 90px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-link {
    font-size: 18px;
    text-decoration: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link:hover {
    text-decoration: underline;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}
